body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/10.jpg'); 
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.note {
    width: 220px;
    height: 300px;
    background: #fff; 
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-family: 'raleway', Courier, monospace; 
    cursor: grab;
    overflow: hidden;
    background: url('/istockphoto-1907918459-170667a.webp'); 
    background-size: cover;
    color: #333; 
}

.note p {
    margin: 0;
    padding: 0;
}

#note1 {
    top: calc(50% - 260px);
    left: calc(50% - 180px);
    transform: rotate(-5deg);
}

#note2 {
    top: calc(50% - 210px);
    left: calc(50% - 40px);
    transform: rotate(4deg);
}

#note3 {
    top: calc(50% - 110px);
    left: calc(50% - 200px);
    transform: rotate(-3deg);
}

#note4 {
    top: calc(50% - 10px);
    left: calc(50% - 20px);
    transform: rotate(6deg);
}

@keyframes fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}


.heart {
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url('/pngtree-glossy-heart-illustration-png-image_2551226.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: fall 5s linear forwards;
        opacity: 0;
    }

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.hide-hearts {
    animation: fadeOut 1s forwards;
}
